
<%- include('partials/header'); -%>
<!-- Banner section -->
      <section class="banner" id="top">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="img/homepage-banner-image-1920x700.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="img/IMG-1986.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="img/IMG-1992.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="img/IMG-1981.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="img/IMG-1984.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="img/IMG-1983.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="500">
          <img src="img/IMG-1992.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <h2>DND | Best Travel Agency</h2>
                        <div class="blue-button">
                            <a href="/contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>

    </div>
</section>

    <main>
     <!-- Packages section -->
        <section class="featured-places">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                          <div class="blue-button">
                              <a href="/packages">Packages</a>
                          </div>
                            <h2>Upcoming Experience...</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb ">
                                <div class="thumb-img">
                                    <img src="<%= cairoImage %>" alt="">
                                </div>

                                <div class="overlay-content">
                                    <strong title="Available"><i class="fa fa-calendar"></i> Summer </strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 6 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4><%= cairo %> and Sharm El Sheikh</h4>

                                <p>Egypt visa on arrival | Return flight ticket | Domestic flight | 2 nights in Cairo with breakfast, lunch & dinner |
                                Cairo city tour (Pyramids of Giza, Sphinx tour, Egypt Musuem) | Deep sea diving & snorkeling |
                                Desert safari and Quad biking | Glass boat | parasailing | Airport transfers</p>
                                <p><span><sup>from <strong>$</strong></sup><strong>1545</strong> - <strong><sup>$</sup>1545</strong></span></p>


                                <div class="text-button">
                                    <a href="/package-details">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img ">
                                    <img src="img/IMG-1987.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                    <strong title="Available"><i class="fa fa-calendar"></i> Summer</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 5 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Summer in <%= zanzibar %></h4>
                                <p>E-visa | Return Economy Flight Ticket | Daily breakfast & dinner | 5 Nights Beach Resort accommodation
                                Stone Town tour | Ocean Safari blue with launch | Snorkeling |
                                Desert safari and Quad biking | Sunset cruise |  Airport transfers</p>
                                <p><span><sup>from <strong>₦</strong></sup><strong>1,590,000</strong> - <strong><sup>₦</sup>1,800,000</strong></span></p>

                                <div class="text-button">
                                    <a href="/package-details">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/IMG-1979.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                    <strong title="Available"><i class="fa fa-calendar"></i> Winter Oct 21-29</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 7 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                                </div>
                            </div>

                            <div class="down-content">

                                <h4>Explore <%= bali %></h4>
                                <p>Indonesia visa | 4 Night Accomodation in Ubud | 3 Night Accomodation in Seminyak | Lunch & dinner |
                                Stone Town tour | Ocean Safari blue with launch | Snorkeling ttip to Blue lagoon |
                                Desert safari and Quad biking | Goa Giri Putri temple |  Airport transfers and private transport</p>
                                <p><span><strong><sup>Premium ★ </sup></strong><sup>from <strong>$</strong></sup><strong>1650</strong> - <strong><sup>$</sup>2050</strong></span></p>
                                <p><span><strong><sup>Luxury ★ </sup></strong><sup>from <strong>$</strong></sup><strong>2100</strong> - <strong><sup>$</sup>3130</strong></span></p>

                                <div class="text-button">
                                    <a href="/package-details">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/product-4-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                    <strong title="Available"><i class="fa fa-calendar"></i> Spring</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 20 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Explore <%= singapore %></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>

                                <p><span><strong><sup>$</sup>300.00</strong> - <strong><sup>$</sup>400.00</strong></span></p>

                                <div class="text-button">
                                    <a href="/package-details">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/product-5-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                    <strong title="Available"><i class="fa fa-calendar"></i> Spring</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 20 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Explore <%= singapore %></h4>


                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>

                                <p><span><strong><sup>$</sup>300.00</strong> - <strong><sup>$</sup>400.00</strong></span></p>

                                <div class="text-button">
                                    <a href="/package-details">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/product-6-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                    <strong title="Available"><i class="fa fa-calendar"></i> Spring</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Nights"><i class="fa fa-cube"></i> 20 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Flight included"><i class="fa fa-plane"></i> Flight included</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Explore <%= singapore %></h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum incidunt, aperiam nostrum et. Voluptas vel labore numqua.</p>

                                <p><span><strong><sup>$</sup>300.00</strong> - <strong><sup>$</sup>400.00</strong></span></p>

                                <div class="text-button">
                                    <a href="/package-details">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="featured-places">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <span>Latest blog posts</span>
                            <h2>Lorem ipsum dolor sit amet ctetur.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/blog-1-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                 <strong title="Author"><i class="fa fa-user"></i> John Doe</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consectetur assumenda nam facere voluptatibus totam veritatis. </p>

                                <div class="text-button">
                                    <a href="/blog-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/blog-2-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                 <strong title="Author"><i class="fa fa-user"></i> John Doe</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consectetur assumenda nam facere voluptatibus totam veritatis. </p>

                                <div class="text-button">
                                    <a href="/blog-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="featured-item">
                            <div class="thumb">
                                <div class="thumb-img">
                                    <img src="img/blog-3-720x480.jpg" alt="">
                                </div>

                                <div class="overlay-content">
                                 <strong title="Author"><i class="fa fa-user"></i> John Doe</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Posted on"><i class="fa fa-calendar"></i> 12/06/2020 10:30</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <strong title="Views"><i class="fa fa-map-marker"></i> 115</strong>
                                </div>
                            </div>

                            <div class="down-content">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h4>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim consectetur assumenda nam facere voluptatibus totam veritatis. </p>

                                <div class="text-button">
                                    <a href="/blog-details">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     <!-- Video section -->
        <section id="video-container">
            <div class="video-overlay"></div>
            <div class="video-content">
                <div class="inner">
                      <div class="section-heading">
                          <span>Contact Us</span>
                          <h2>Vivamus nec vehicula felis</h2>
                      </div>
                      <!-- Modal button -->

                      <div class="blue-button">
                        <a href="/contact">Talk to us</a>
                      </div>
                </div>
            </div>
        </section>


        <section class="coloured-section" id="testimonials">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
       <div class="carousel-indicators">
         <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>

       </div>
       <div class="carousel-inner" >
         <div class="carousel-item active" data-bs-interval="5000" data-bs-pause="hover">
           <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
           <img class="test-img " src="img/popular_item_1.jpg" alt="dog-profile">
           <em>Pebbles, New York</em>
         </div>
         <div class="carousel-item" data-bs-interval="5000" data-bs-pause="hover">
           <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
           <img class="test-img "src="/img/popular_item_2.jpg" alt="lady-profile">
           <em>Beverly, Illinois</em>
         </div>
       </div>

         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>

      </div>

        </section>






<!--
                <div class="owl-carousel owl-theme">
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_1.jpg" alt="">
                            <div class="text-content">
                                <h4>John Doe</h4>
                                <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                            </div>
                            <div class="plus-button">
                                <a href="/testimonials"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_2.jpg" alt="">
                            <div class="text-content">
                                <h4>John Doe</h4>
                                <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                            </div>
                            <div class="plus-button">
                                <a href="/testimonials"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_3.jpg" alt="">
                            <div class="text-content">
                                <h4>John Doe</h4>
                                <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                            </div>
                            <div class="plus-button">
                                <a href="/testimonials"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_4.jpg" alt="">
                            <div class="text-content">
                                <h4>John Doe</h4>
                                <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                            </div>
                            <div class="plus-button">
                                <a href="/testimonials"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_5.jpg" alt="">
                            <div class="text-content">
                                <h4>John Doe</h4>
                                <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                            </div>
                            <div class="plus-button">
                                <a href="/testimonials"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_1.jpg" alt="">
                            <div class="text-content">
                                <h4>John Doe</h4>
                                <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                            </div>
                            <div class="plus-button">
                                <a href="/testimonials"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item popular-item">
                        <div class="thumb">
                            <img src="img/popular_item_2.jpg" alt="">
                            <div class="text-content">
                                <h4>John Doe</h4>
                                <span>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</span>
                            </div>
                            <div class="plus-button">
                                <a href="/testimonials"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- About section -->
                  <section class="our-services">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-7">
                                  <div class="left-content">
                                      <br>
                                      <h4>About us</h4>
                                      <p><%= aboutFirstSentence %><br><br><%= aboutSecondSentence %></p>
                                      <div class="blue-button">
                                          <a href="/about">Discover More</a>
                                      </div>

                                      <br>
                                  </div>
                              </div>
                              <div class="col-md-5">
                                  <img src="img/about-1-720x480.jpg" class="img-fluid" alt="">
                              </div>
                          </div>
                      </div>
                  </section>

    </main>
<%- include('partials/footer'); -%>
